/* This style sheet contains styles that are common to both public and internal templates */
body
{
	font-size: 76%;
	margin: 0;
	font-family: "Trebuchet MS", arial, sans-serif;
	background-color:#fff;
	color:#000;
}

/* legacy styles */
code, kbd, samp, tt { font: 1.1em "Courier New", Courier, mono; }
dt { font-weight: bold; }

acronym, abbr, .info
{
	border-bottom: 1px dotted #708090;
	cursor: help;
}

/* link styles */
a:link { color: #03c; }
a:visited { color: #606; }
a:hover { color: #c00; }
a:active { color: #600; }
li { margin-bottom: 0.4em; }

/* layout styles */
/* the top div */
#top, #top *
{
	margin: 0;
	padding: 0;
}

#skipmenu
{
	position: absolute;
	left: 0;
	top: 0;
}

.skiplink, #skipmenu li, .offstage
{
	position: absolute;
	width: 300px;
	left: -900px;
	top: 0px;
	list-style: none;
}

#homelink
{
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	font-size: 4px;
}

#top li { list-style: none; }

/* the global search bar */
#top #global-bar
{
	position: absolute;
	top: 0;
	right: 0;
	float: right;
	border-bottom: 1px solid #fff;
	padding: 2px 0 3px;
}

#top #global-bar form
{
	display: inline;
	padding: 0 18px 0 6px;
}

#global-bar ul
{
	padding: 2px 0;
	margin: 2px 0 0 0;
}

#global-bar li
{
	display: inline;
	border-right: 1px solid #46a;
	padding: 0 8px 0 5px;
}

#global-bar ul a
{
	color: #46a;
	font-weight: bold;
	font-size: 95%;
	text-decoration: none;
}

#global-bar ul a:hover
{
	color: #c00;
	text-decoration: underline;
}

#global-bar .offstage { top: -300px; }

/* quicklinks */
#quicklinks
{
	border-top: 1px solid #fff;
	padding: 4px 18px 2px;
	height: 1.5em;
}

#quicklinks ul
{
	float: right;
	padding: 0;
	margin: 0;
}

#quicklinks li
{
	list-style: none;
	display: inline;
	border-right: solid 1px #ccc;
	padding: 0 0.5em 0 0;
	margin: 0 0.5em 0 0;
}

#quicklinks li a
{
	color: #ddd;
	letter-spacing: 0.1em;
	text-decoration: none;
}

#quicklinks li a:hover { color: #fff; }

#quicklinks li.last-item
{
	border: none;
	padding: 0;
	margin: 0;
}

/* menu styles */
#menu
{
	float: left;
	width: 210px;
}

#menu *
{
	padding: 0;
	margin: 0;
}

#menu li
{
	list-style: none;
	line-height: 1.4em;
	padding: 3px 0 3px 18px;
}

#menu li ul { margin-top: 4px; }
#menu li li { border-bottom: none; }
#menu li li li { border: none; }

#menu span.bullet
{
	height: 15px;
	width: 12px;
	padding-right: 3px;
	display: block;
	float: left;
	background: 0 center no-repeat url(http://www.unimelb.edu.au/template-assets/07/images/menu/arrow.gif);
}

#menu a { text-decoration: none; }
#menu a:hover { text-decoration: underline; }

#menu img
{
	border: none;
	padding-right: 3px;
}

#menu a.current_link
{
	font-weight: bold;
	font-style: italic;
}

#menu .expand { display: block; }
#menu .collapse ul { display: none; }
#menu .ancestor, #menu .parent { background-color: #e8e8e8; }
#menu .ancestor .ancestor, #menu .ancestor .parent { background-color: #f2f2f2; }
#menu .ancestor .ancestor .parent { background-color: #fff; }
#menu li li li li ul { display: none; }

/* sidebar styles */
#sidebar
{
	float: right;
	width: 180px;
	margin: 1.5em 0 6px 1em;
	padding: 1em 18px 1em 1em;
	border-left: solid 1px #ccc;
	background-image: url("http://www.unimelb.edu.au/template-assets/07/images/sidebar_bg.png");
}
#sidebar img
{
	border:none;
}
/* content styles */

#content
{
	margin: 0;
	padding: 1.5em 0 4px 30px;
	font-size: 1.1em;
	max-width: 60em;
	background-color: #fff;
	overflow:auto;
	/* more in ie-win-5-6.css */
}

#content h2
{
	letter-spacing: .05em;
	font-size: 1.8em;
	color: #567;
	margin: 0 0 0.5em 0;
	padding: 0;
}

#content h3, #content h4, #content h5, #content h6
{
	color: #567;
	margin: 0.5em 0 0.3em 0;
	padding: 0;
}

#content h3 { font-size: 1.5em; }
#content h4 { font-size: 1.3em; }
#content form, #content form h2 { margin-bottom: 0.5em; }

#content p, #content li
{
	margin: 0.3em 1em 0.7em 0;
	line-height: 1.3;
}

#content dd
{
	margin: 0.3em 1em 0.7em 2em;
	line-height: 1.3;
}

#content blockquote { margin: 0.5em 1em 1em 3em; }
#content div { padding-top: .5em; }

#content .notice, #content .importantnotice, #home-content .notice, #home-content .importantnotice
{
	border: 1px dotted #999;
	background-color: #eee;
	padding: 0.6em;
}
#content div.code, #content p.code
{
	border: 1px dotted #999;
	background-color: #dee;
	padding: 0.4em;
	font-size:1em;
	margin:0.4em 0;
}
#home-content .notice, #home-content .importantnotice
{
	background-color: #fff;
}

#content .importantnotice, #home-content .importantnotice { color: red; }
#content div.notice { margin: 0 10px 1em 0; }

#content div.alignright, #content img.alignright
{
	float:right;
	margin-left: 0.5em;
}

#content div.alignleft, #content img.alignleft
{
	float:left;
	margin-right: 0.5em;
}

#content div.alignleft, #content div.alignright
{
	width:40%;
}

#content img.framed, #sidebar img.framed
{
	background:#fff;
	padding: 3px;
	border: #ddd solid 1px;
}
#content a:hover img.framed
{
	background-color:#feb;
	border-color:#fc3;
}

#content img.alignleft
{
	float:left;
	margin-right: 0.5em;
}

#content img.alignright
{
	float:right;
	margin-left: 0.5em;
}

#content div.subsection
{
	margin-left:2em;
}

#content .clearboth {
	clear:both;
}

#content table caption
{
	margin: 0.5em 0 0.25em 0;
	font-style: italic;
	text-align: left;
}

#content table.grey
{
	border: solid #999 thin;
	border-collapse: collapse;
	margin: 0 0 0.5em 0;
	text-align: left;
}

#content table.grey th, #content table.grey td
{
	border: solid #999 thin;
	border-collapse: collapse;
	padding: 2px;
}

#content table.grey th { background-color: #eee; vertical-align:top; }
table.grey td { background-color: #fff; vertical-align:top; }
table .even, table .even td, table.grey .even td { background-color: #eee; }
#content table.grey .even th { background-color: #ddd; }

table.nostyle, table.nostyle td, table.nostyle th { border: none !important; background:none; }

ul.nobullet
{
	list-style:none;
}

ul.arrowli li
{
	list-style:none;
	padding-left:12px;
	background-image:url("http://www.unimelb.edu.au/template-assets/07/images/tiny_blue_arrow.png");
	background-repeat:no-repeat;
	background-position:0 4px;
}

#content ul.inline, #content ul.inline li
{
	display:inline;
	padding:0;
	margin:0;
}

ul.two-column li
{
	color:#000;
	float:left;
	width:45%;
}

/* footer styles */
.topofpage
{
	font-size: 80%;
	padding: 0;
	clear: both;
}

.topofpage a
{
	padding-left: 12px;
	background-image: url("http://www.unimelb.edu.au/template-assets/07/images/topofpage_arrow.gif");
	background-repeat: no-repeat;
	background-position: 0 2px;
	text-decoration: none;
}

.topofpage a:hover { text-decoration: underline; }

#footer
{
	clear: both;
	margin: 0;
	font-size: smaller;
	letter-spacing: .1em;
	color: #666;
	line-height: 1.1em;
}

#metalinks
{
	margin: 0 0 18px 0;
	border-bottom: 1px solid #bbb;
	border-top: 1px solid #bbb;
	padding: 1em 18px;
	background-color: #e6e6e6;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	text-align: right;
}

#metalinks li
{
	display: inline;
	margin-left: .5em;
	padding-left: .5em;
	border-left: solid 1px #bbb;
}

#metalinks li.first-item { border-left: none; }
#metalinks li:first-child { border: none;}

#footer div
{
	position: relative;
	width: 100%;
}

#footer dl
{
	margin: 0 0 18px 18px;
	float: left;
	width: 50%;
}

#footer dd
{
	padding: 0;
	margin: 0 0 .3em 2em;
}

#legal
{
	position: absolute;
	right: 18px;
	top: 0;
	text-align: right;
	margin: 0;
	padding: 0;
}

#legal li
{
	margin-bottom: 0.4em;
	list-style: none;
}

/* these styles add tiny icons to links to some non-html media */
/* the styles only apply to the content area of the page       */
#content a[href$=".pdf"], #content a[href$=".doc"], #content a[href$=".xls"], #content a[href$=".ppt"], #content a[href$=".pps"], #content a[href$=".mov"], #content a[href$=".mp3"], #content a[href$=".aif"]
{
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 14px;
}

#content a[href$=".pdf"] { background-image: url("http://www.unimelb.edu.au/template-assets/07/images/tiny/tiny_pdf_icon.gif"); }
#content a[href$=".doc"] { background-image: url("http://www.unimelb.edu.au/template-assets/07/images/tiny/tiny_doc_icon.gif"); }
#content a[href$=".xls"] { background-image: url("http://www.unimelb.edu.au/template-assets/07/images/tiny/tiny_xls_icon.gif"); }
#content a[href$=".ppt"], #content a[href$=".pps"] { background-image: url("http://www.unimelb.edu.au/template-assets/07/images/tiny/tiny_ppt_icon.gif"); }
#content a[href$=".mov"] { background-image: url("http://www.unimelb.edu.au/template-assets/07/images/tiny/tiny_mov_icon.gif"); }
#content a[href$=".mp3"], #content a[href$=".aif"] { background-image: url("http://www.unimelb.edu.au/template-assets/07/images/tiny/tiny_mp3_icon.gif"); }

/* use these styles instead of using the greater/less than arrows to indicate next/prev links  */
a.next-link, a.back-link
{
	padding-left: 18px;
	background-repeat: no-repeat;
	background-position: 0 50%;
}

a.next-link { background-image: url("http://www.unimelb.edu.au/template-assets/07/images/tiny_next_arrow.png"); }
a.back-link { background-image: url("http://www.unimelb.edu.au/template-assets/07/images/tiny_back_arrow.png"); }

/* ********************* */
