<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>

         
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
  <meta name="expiry-date" content="2000-04-01">
  <meta name="maintained-by" content="Anne Seuling a.seuling@communications.unimelb.edu.au">
  <meta name="authorised-by" content="Director, Communications">
  <meta name="author" content="George Ivanoff">
  <meta name="description" content="Information about templated for use on the University of Melbourne's Web site">
  <meta name="keywords" content="University of Melbourne, Web Site Upgrade Project, template, templates">
  <meta name="last-modified" content="1999-05-26">
  <meta name="distribution" content="global">

<!-- The following tag is the reference to the University Cascading Style Sheet.
     Do NOT delete this tag. -->
  <LINK REL="Stylesheet" TYPE="text/css" href="/css/default.css">
<title>THE UNIVERSITY OF MELBOURNE - Web Templates</title></head>

<body bgcolor="#FFFFFF" text="#000000">

<!-- The following table is an essential Heading Table -->
<table border="0" width="580" cellpadding="0" cellspacing="0">
  <tr>
    <td colspan="3" width="580">
<!-- StandardBar START -->
  <table border="0" width="100%" cellspacing="0" cellpadding="0">
  <tr bgcolor="#000066">
    <td><a href="http://websearch.its.unimelb.edu.au/"><img src="http://www.unimelb.edu.au/img/sitebar/search.gif" width="49" height="20" border="0" alt="Search"></a></td>
    <td><img src="http://www.unimelb.edu.au/img/sitebar/sep.gif" width="6" height="20" border="0" alt=" | "></td>
    <td><a href="http://www.unimelb.edu.au/az/azdirectory/"><img src="http://www.unimelb.edu.au/img/sitebar/az.gif" width="82" height="20" border="0" alt="A-Z Directory"></a></td>
    <td><img src="http://www.unimelb.edu.au/img/sitebar/sep.gif" width="6" height="20" border="0" alt=" | "></td>
    <td><a href="http://www.unimelb.edu.au/contact/contact.html"><img src="http://www.unimelb.edu.au/img/sitebar/con.gif" width="108" height="20" border="0" alt="Contacting People"></a></td>
    <td><img src="http://www.unimelb.edu.au/img/sitebar/sep.gif" width="6" height="20" border="0" alt=" | "></td>
    <td><a href="http://www.unimelb.edu.au/about/"><img src="http://www.unimelb.edu.au/img/sitebar/about.gif" width="56" height="20" border="0" alt="About Us"></a></td>
    <td><img src="http://www.unimelb.edu.au/img/sitebar/fill.gif" width="266" height="20" border="0" alt=" "></td>
  </tr>
  </table>
<!-- StandardBar END -->
    </td>
  </tr>
  <tr>
    <td colspan="3" width="580">
<!-- The following table is a sub-table for the second strip of header graphics and text heading -->
      <table border="0" width="100%" cellspacing="0" cellpadding="0">
        <tr>
          <td width="65" valign="top"> <img src="/img/banners/dotblue.gif" width="65" height="90"  border="0"></td>
          <td width="80" valign="top"> <a href="/"><img src="/img/logo/unimelblogo.gif" width="80" height="105" border="0" alt="The University of Melbourne"></a></td>
		  
          <td width="20" valign="top"> <img src="/img/nav/dotclear.gif" width="20" height="1" border="0"></td>
          <td width="415" valign="top"> <img src="/img/nav/dotclear.gif" width="1" height="40" border="0" alt="../../templates/%20"> 
            <font size=6>University of Melbourne Web Site:<br>
            <img src="/img/nav/dotclear.gif" height="1" width="55">Templates</font></td>
        </tr>
      </table>
<!-- End sub-table for the second strip of header graphics and text heading -->
      
    </td>
  </tr>
</table>
<!-- End header table -->


<p>&nbsp;</p>

<p>&nbsp;</p><table border="0" width="580" cellpadding="0" cellspacing="0">
  <tr>
    <!-- Leave this empty spacer here to force the margin --> 
    <td width="65" align="left" valign="top"> <img src="/img/nav/dotclear.gif" width="65" height="1"  border="0"></td>

    <!-- Use the following table cell for all of your page data --> 
    <td width="515" align="left"> 
      <h2>Editing Software<br>
      </h2>
      <p>Templates should not be used with authoring software that amends HTML 
        coding to conform to its own standards. Such software has the potential 
        to alter the templates and render them unusable in some browsers. Netscape 
        Composer and Claris Homepage are two such programs, while BBEdit and DreamWeaver 
        are safe to use. Please check the manual of any authoring software before 
        using it with the templates.</p>
      <p>Generally text editors do not amend HTML, while most visual graphic editors 
        do amend HTML to some extent. The only two visual graphic editors we are 
        currently aware of that do not amend HTML are DreamWeaver and Go Live 
        Cyber Studio. DreamWeaver is available from University Computer Supplies 
        for both Macintosh and Windows.</p>
           
      <h2>Template Options</h2>
      <p><img src="http://www.unimelb.edu.au/img/bullets/bulletnew.gif" alt=" NEW "> <em>The templates below
         have been modified for conformance to the new Website look introduced 1 October 2001. Please also see information on <a a href="http://www.unimelb.edu.au/img/topbannersNew/">modified navigational banners</a> for use in conjunction with the new top blue bar.
      </p>   
  
      
      
      <p><a href="template.txt"><b>Template 1.</b></a><br>
        This template is for Homepages and other high-level pages. It has a centrally 
        positioned University crest and space for photographs on either side. 
        This template is a text file and will need to be saved as an HTML file. 
        Anyone who downloaded the HTML file here prior to 19 Nov should discard 
        it and use the text file.</p>
      <p><a href="template2.txt"><b>Template 2.</b><br>
        </a>This template is for lower-level pages and has a reduced header. The 
        University crest is positioned on the left hand side, there are no photographs 
        and there is space in the header for the page title. As with the Template 
        1, it is a text file which you will need to save as an HTML file. </p>
      <p><b>IMPORTANT</b><br>
        Please note that the footer (which is a server include) will only work 
        on the main university server. If you are creating pages for use on another 
        server, the include will have to be mirrored on that server &#151; <a href="mirror.html">instructions 
        are now available</a>. </p>
            </ul>
    </td>
  </tr>
</table>


<!-- The following line inserts the Quick Jump menus.
     Do not delete the following line --> <!--#include virtual="/include/footer/footer.htm" --> 
<!-- start author block --> 
<div class="authorblock">
<!--#config timefmt="%1e %B %Y" -->

  <pre>
Created: 16 February 1999
Last modified: <!--#flastmod virtual="${DOCUMENT_NAME}" -->
Authorised by: Director, Communications
</pre>
  <address> Maintained by: Anne Seuling<br>
  Email: <a href="mailto:a.seuling@communications.unimelb.edu.au">a.seuling@communications.unimelb.edu.au</a></address>

</div>

<!-- end author block -->

</body>
</html>
