<meta name="DC.Title" content="The University of Melbourne" />
<meta name="DC.Identifier" content="http://www.unimelb.edu.au" />
<meta name="DC.Creator" content="Web Centre" />
<meta name="UM.Creator.Email" content="webcentre@unimelb.edu.au" />
<meta name="DC.Subject" content="university homepage" />
<meta name="keywords" content="university homepage " />
<meta name="DC.Description" content="test" />
<meta name="description" content="test " />
<meta name="DC.Contributor" content="test" />
<meta name="DC.Rights" content="http://www.unimelb.edu.au/disclaimer" />
<meta name="DC.Date.Created" scheme="ISO 8601" content="2002-11-25" />
<meta name="DC.Date.Available" scheme="ISO 8601" content="2002-11-25" />
<meta name="DC.Date.Modified" scheme="ISO 8601" content="2002-11-25" />
<meta name="DC.Publisher" content="University of Melbourne." />
<meta name="DC.Format" scheme="IMT" content="text/html" />
<meta name="DC.Language" scheme="RFC 1766" content="en" />
<meta name="UM.Authoriser.Name" content="web centre" />
<meta name="UM.Authoriser.Title" content="web centre" />
<meta name="UM.Authoriser.Email" content="webcentre@unimelb.edu.au" />
<meta name="UM.Maintainer.Name" content="web centre" />
<meta name="UM.Maintainer.Department" content="web centre" />
<meta name="UM.Maintainer.Email" content="webcentre@unimelb.edu.au" />
<meta name="UM.Access" content="Global" />
<meta name="UM.Review.Date" content="2003-11-25" />