<meta name="DC.Title" content="INSERT DOCUMENT TITLE: University of Melbourne" />
<meta name="DC.Identifier" content="http://www.unimelb.edu.au/" />
<meta name="DC.Creator" content="Web Centre, University of Melbourne" />
<meta name="UM.Creator.Email" content="web-info@unimelb.edu.au" />
<meta name="DC.Subject" content="INSERT KEYWORDS" />
<meta name="keywords" content="INSERT KEYWORDS" />
<meta name="DC.Description" content="INSERT PAGE TITLE" />
<meta name="description" content="INSERT PAGE TITLE" />
<meta name="DC.Contributor" content="programmer Paul Smalley pauls@101media.com.au.nospam" />
<meta name="DC.Contributor" content="designer Diana Roche di@rochegraphics.com.nospam" />
<meta name="DC.Contributor" content="editor Claire Spencer clairespencer@hotmail.com.nospam" />
<meta name="DC.Contributor" content="usability consultant Trevor Gosbell tgosbell@unimelb.edu.au.nospam" />
<meta name="DC.Contributor" content="content, layout, usability Tania Gillham tani@unimelb.edu.au.nospam" />
<meta name="DC.Contributor" content="project manager Margaret L Ruwoldt flipsockgrrl@yahoo.com.au.nospam" />
<meta name="DC.Rights" content="http://www.unimelb.edu.au/disclaimer" />
<meta name="DC.Date.Created" scheme="ISO 8601" content="2003-01-30" />
<meta name="DC.Date.Available" scheme="ISO 8601" content="2003-01-30" />
<meta name="DC.Date.Modified" scheme="ISO 8601" content="2003-01-30" />
<meta name="DC.Publisher" content="Web Centre, University of Melbourne" />
<meta name="DC.Format" scheme="IMT" content="text/html" />
<meta name="DC.Language" scheme="RFC 1766" content="en" />
<meta name="DC.Language" scheme="RFC 1766" content="en" />
<meta name="UM.Authoriser.Name" content="Tony Arthur" />
<meta name="UM.Authoriser.Title" content="Director, Information Resources Access, Information Division" />
<meta name="UM.Authoriser.Email" content="aja@unimelb.edu.au.nospam" />
<meta name="UM.Maintainer.Name" content="Web Centre" />
<meta name="UM.Maintainer.Department" content="Information Resources Access, Information Division" />
<meta name="UM.Maintainer.Email" content="web-info@unimelb.edu.au" />
<meta name="UM.Access" content="Global" />
<meta name="UM.Review.Date" content="2003-07-01" />